### Problem statement

This data set contains details of a bank's customers and the target variable is a binary variable reflecting the fact whether the customer left the bank (closed his account) or he continues to be a customer.

### Libraries import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import keras

Using TensorFlow backend.

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import sklearn.metrics as metrics
from sklearn.metrics import confusion_matrix

In [44]:
from keras.models import Sequential
from keras.layers import Dense, Activation

In [6]:
#import pandas_profiling

### Read dataset from the csv file

In [7]:
dataset = pd.read_csv("Churn_Modelling.csv")

### Dataset information

In [8]:
print("Different columns : \n", dataset.columns)

Different columns :
 Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [9]:
dataset.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

<b>Observation :----------</b>                                                                                        
From the above dataset the below columns are not useful                                                     
RowNumber, CustomerId, Surname

### Extract userful features

In [16]:
dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [19]:
dataset_new = pd.get_dummies(dataset, ['Geography', 'Gender'], drop_first=True)

In [21]:
dataset_new.shape

(10000, 12)

In [22]:
dataset_new.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_Germany',
       'Geography_Spain', 'Gender_Male'],
      dtype='object')

In [23]:
dataset_new.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

### Spliting data into train and test

In [24]:
X = dataset_new[dataset_new.columns.difference(['Exited'])]

In [25]:
y = dataset_new['Exited']

In [26]:
X.head(2)

,Age,Balance,CreditScore,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain,HasCrCard,IsActiveMember,NumOfProducts,Tenure
0,42,0.00,619,101348.88,0,0,0,1,1,1,2
1,41,83807.86,608,112542.58,0,0,1,0,1,1,1

In [27]:
y.head(2)

0    1
1    0
Name: Exited, dtype: int64

In [33]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=123)

In [34]:
train_X.shape

(7000, 11)

In [35]:
train_y.shape

(7000,)

In [36]:
test_X.shape

(3000, 11)

In [37]:
test_y.shape

(3000,)

### Scaling variables

In [40]:
sc = StandardScaler()
train_X = sc.fit_transform(train_X)
test_X = sc.fit_transform(test_X)

### Network structure

In [45]:
# Network -> [11, 6, 6, 1] where '11' is input and '1' is output
model = Sequential()
model.add(Dense(output_dim=6, init='uniform', activation='relu', input_dim=11))
model.add(Dense(output_dim=6, init='uniform', activation='relu'))
model.add(Dense(output_dim=1, init='uniform', activation='sigmoid'))

C:\Users\shashi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\shashi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\shashi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """

In [46]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [54]:
model.fit(train_X, train_y, batch_size=10, nb_epoch=10)

Epoch 1/10
2230/7000 [========>.....................] - ETA: 0s - loss: 0.4181 - accuracy: 0.8274

C:\Users\shashi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

7000/7000 [==============================] - 0s 67us/step - loss: 0.4032 - accuracy: 0.8353
Epoch 2/10
7000/7000 [==============================] - 0s 69us/step - loss: 0.4034 - accuracy: 0.8373
Epoch 3/10
7000/7000 [==============================] - 0s 64us/step - loss: 0.4038 - accuracy: 0.8353
Epoch 4/10
7000/7000 [==============================] - 0s 63us/step - loss: 0.4032 - accuracy: 0.8363
Epoch 5/10
7000/7000 [==============================] - 0s 66us/step - loss: 0.4027 - accuracy: 0.8360
Epoch 6/10
7000/7000 [==============================] - 0s 65us/step - loss: 0.4032 - accuracy: 0.8347
Epoch 7/10
7000/7000 [==============================] - 0s 64us/step - loss: 0.4033 - accuracy: 0.8347
Epoch 8/10
7000/7000 [==============================] - 0s 64us/step - loss: 0.4030 - accuracy: 0.8343
Epoch 9/10
7000/7000 [==============================] - 0s 65us/step - loss: 0.4032 - accuracy: 0.8361
Epoch 10/10
7000/7000 [==============================] - 0s 64us/step - loss: 0.4031 - accuracy: 0.8350

### Performance metrics

In [55]:
pred_y = model.predict(test_X)

In [56]:
metrics.roc_auc_score(test_y, pred_y)

0.8017860901671872

In [62]:
pred_y = (pred_y > 0.2)

In [63]:
conf_matrix = confusion_matrix(test_y, pred_y)

In [64]:
print(metrics.classification_report(test_y, pred_y))

              precision    recall  f1-score   support

           0       0.91      0.71      0.80      2395
           1       0.39      0.74      0.51       605

    accuracy                           0.71      3000
   macro avg       0.65      0.72      0.65      3000
weighted avg       0.81      0.71      0.74      3000

### Save model

In [65]:
model.save('model.h5')

### Model summary

In [67]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________